/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2016, 3:15:32 PM
    Author     : Dell
*/

body {
    background-color: #171717;
}

.content-box label {
    color: #cecece;
    display: block;
}

select {
    height: 26px;
}

button, input[type="submit"] {
    height: 27px;
}

.content-box {
    background-color: #282828;
    padding: 20px;
}

.content-box::after {
    content: "";
    display: block;
    background: #f5821e;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    position: relative;
    margin-bottom: -20px;

}

.movie {
    min-height: 50%;
    max-width: 50%;
    width: 100%;
    height: 290px;
    float: left;
    position: relative;
    display: inline-block;
    background-image: url(http://ia.media-imdb.com/images/M/MV5BMjA5NzUwODExM15BMl5BanBnXkFtZTgwNjM0MzE4NjE@._V1_UX182_CR0,0,182,268_AL_.jpg);
    background-size: contain;
    background-attachment: scroll;
}

.movie h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    padding: 15px 10px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: 70px;
    overflow:hidden;
}
.movie h2:before {
    content: "";
    display: block;
    background: #f5821e;
    height: 1px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.movie-desc h2 {
    height: 100% !important;
}

.content-box {
    margin-top: 20px;
}

.movie-go {
    padding: 10px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%
}

h1 {
    color: #f5821e;
    font-size: 2em;
    margin-top: 0px;
}